body{
    width: 500px;
    padding: 8px;
    background-color: #3e3c3c;
    color: #d3d3d3;
}

button{
    border-radius: 0;
    background-color: white;
    border-width: 0;
    padding: 2px 12px;
    min-height: 24px;
}

.label{
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.row{
    display: flex;
    flex-direction: row;
}

form#tracer-options{
    border: 1px solid #ff00ff;
    padding: 8px;
}

.form-section-header{
    font-size: 1.2em;
    margin: 12px 0 4px;
}

.form-element{
    margin: 8px 4px;
}

.bg-orange{
    color: white;
    background-color: #ff8800 !important;
}
.bg-pink{background-color: #ff00ff !important;}

.d-flex{display: flex}
.aling-items-end{align-items: end;}